@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;600&family=Poppins:wght@500&display=swap');

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.inputs-tittle {
  font-family: Poppins;
  font-size: 1.5rem;
}
.inputs-container {
  display:grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.7rem;
}

.input-name {
  font-family: Poppins;
  font-size: 1rem;
}


.input-box > input {
  font-size: 1.1rem;
  margin-top: 0.3rem;
  width: 12.5rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.material-symbols-outlined {
  font-size: 1.5rem;
  color: #828282;
  position: absolute;
  margin-top: 2.7rem;
  background:#fff;
}

#input1 {
  grid-column: 1;
  grid-row: 1;
}
#input2 {
  grid-column: 2;
  grid-row: 1;
}
#input3 {
  grid-column: 3;
  grid-row: 1;
}
#input4 {
  grid-column: 1;
  grid-row: 2;
}
#input5 {
  grid-column: 2;
  grid-row: 2;
}
#input6 {
  grid-column: 3;
  grid-row: 2;
}
#input7 {
  grid-column: 1;
  grid-row: 3;
}
#input8 {
  grid-column: 1;
  grid-row: 4;
}
#input9 {
  grid-column: 2;
  grid-row: 4;
}
#input10 {
  grid-column: 1;
  grid-row: 5;
}
#input11 {
  grid-column: 2;
  grid-row: 5;
}
#input12 {
  grid-column: 1;
  grid-row: 6;
}
#input13 {
  grid-column: 1;
  grid-row: 7;
}
#input14 {
  grid-column: 2;
  grid-row: 7;
}
#input15 {
  grid-column: span 3;
  grid-row: 8;
}
#input16 {
  grid-column:  1/2;
  grid-row: 9;
}

@media (max-width: 800px) {
  .inputs-container {
   display: flex;
   flex-direction: column;
  
   width: 80%;
   padding-left: 1rem;
  }
  #input15 {
    width:90%
  }
  #input16 {
    width:50%
  }
  
}